@page
@model Mottu.Web.Pages.Motos.CreateModel

<h2>Cadastrar Moto</h2>

<form method="post">
    <div class="form-group mb-3">
        <label asp-for="Moto.IdentificadorUWB" class="form-label"></label>
        <input asp-for="Moto.IdentificadorUWB" class="form-control" />
        <span asp-validation-for="Moto.IdentificadorUWB" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Moto.Modelo" class="form-label"></label>
        <input asp-for="Moto.Modelo" class="form-control" />
        <span asp-validation-for="Moto.Modelo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-page="Index" class="btn btn-secondary">Voltar</a>
</form>
